/* Global Reset */
* {
  padding: 0;
  margin: 0;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Container Styles */
.container {
  position: relative;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.299);
  border-radius: 1rem;
  padding: 1.5rem;
}

/* Input, Textarea, and Button Styles */
.container > input,
textarea,
.btn {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.203);
  padding: .6rem;
  margin: 0.6rem;
  border-radius: 0.4rem;
  outline: none;
}

.input-box {
  /* Duplicate style for input box */
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.203);
  padding: .6rem;
  margin: 0.6rem;
  border-radius: 0.4rem;
  outline: none;
}

.btn {
  background-color: rgba(0, 0, 0, 0.862);
  color: white;
  font-weight: bold;
  width: 85%;
}

.btn:hover {
  cursor: pointer;
  background: black;
}

/* Divider Line Styles */
.line {
  width: 92%;
  border-top: 1px solid rgba(0, 0, 0, 0.299);
  margin-top: -5px;
}

/* Header Effect Styles */
.h-effect {
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
}

/* Task Styles */
.task {
  margin: 12px 0;
}

/* Image Styles */
img {
  width: 20px;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
}

/* Task Box Styles */
.task-box {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top:10px ;
  margin-bottom: 5px;
}

/* Image Box Styles */
.img-box {
  display: flex;
  gap: 40px;
}

/* Text Styles */
p,
span {
  font-weight: bold;
  font-size: medium;
  color: rgba(0, 0, 0, 0.575);
}

.p-title:hover {
  cursor: pointer;
}

span {
  font-size: small;
}

.p-title {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.862);
}

/* Delete Image Styles */
.img-delete {
  margin-right: 30px;
}
/* Media Queries for Mobile Phones */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    border: 0 solid black;
  }
}

/* Media Queries for Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%;
   
  }
}
